*{
    box-sizing : border-box;
    position:relative;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:0.98rem;
    font-weight:400;
    color:rgb(58, 58, 58);
}
body{
   
    /* 480px */
    /* width : 30rem;  */
    width : 23.75rem;
    margin :0 auto;
    background-color: beige;
    

}
.wrapper{
    /* 380px */
    width : 23.75rem;
    background-color: white;
    /* 종이질감 백그라운드 효과 */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='paper'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.04' numOctaves='5' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23paper)'/%3E%3C/svg%3E");
    background-blend-mode: overlay;
    background-size: 300px 300px;
    margin :0 auto;
    text-align:center;
}

/* header */
.wrapper>header{}

/* main */
.wrapper>main{}
.wrapper>main>section{}

/* footer */
.wrapper>footer{}

