
.wrapper>main>section:nth-child(2){
    margin-top:40px;
}
.wrapper>main>section:nth-child(2)>.contents{
    position:relative;
}

.wrapper>main>section:nth-child(2)>.contents::before{
    content:"";
    display:block;
    width:100%;
    height:40px;
    /* border : 1px solid gray; */
    position:absolute;
    left:0px;right:0px;
    top:-50px;
   
    background-image: url("../images/02_Section_01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}
.wrapper>main>section:nth-child(2)>.contents>.sentence-01{
    font-size:1rem;
    margin-top : 10px;
    margin-bottom : 20px;
}
.wrapper>main>section:nth-child(2)>.contents>.sentence-02{}

/* section2에서 종이질감 제거 */
.wrapper>main>section:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    background-color: #ffffff;
}

.wrapper>main>section:nth-child(2)::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    background-color: #ffffff;
}

.wrapper>main>section:nth-child(2) > * {
    position: relative;
    z-index: 3;
}