
.wrapper>main>section:nth-child(3){}
.wrapper>main>section:nth-child(3)>.contents{}
.wrapper>main>section:nth-child(3)>.contents>div{
    margin:20px 0px;
}
.wrapper>main>section:nth-child(3)>.contents>.title{
}
.wrapper>main>section:nth-child(3)>.contents>.title>.m-title{
    margin-bottom:10px;
    color : rgb(194, 178, 178);
    font-size : 11.4872px;
    letter-spacing: 3px;
    height:20px;
    text-align: center;
}
.wrapper>main>section:nth-child(3)>.contents>.title>.sub-title{
   
    color :rgb(137, 117, 122);
    font-size : 18.0513px;
    letter-spacing: 0.5px;
    height:32px;;
    margin-bottom : 30px;
}

.wrapper>main>section:nth-child(3)>.contents>.sentence-01{}

.wrapper>main>section:nth-child(3)>.contents>.image-block-01{
   
}
.wrapper>main>section:nth-child(3)>.contents>.image-block-01>img{
    width:100%;
    border-radius: 10px;
    margin:20px 0px;
}
.wrapper>main>section:nth-child(3)>.contents>.sentence-02{
    letter-spacing: 2px;
    margin:20px 0px;
}
.wrapper>main>section:nth-child(3)>.contents>.sentence-02 span{
    font-size:1.2rem;
}

/* 종이 질감 오버레이 효과 - span 블록 배경색을 종이질감과 동일하게 */
.wrapper>main>section:nth-child(3)>.contents>.sentence-02 span[style*="position:relative"] {
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    z-index: 0;
}

.wrapper>main>section:nth-child(3)>.contents>.sentence-02 span[style*="position:relative"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    background-color: #ffffff;
    background-image: 
        url("data:image/svg+xml,%3Csvg width='400' height='400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='paper'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23paper)' opacity='0.4'/%3E%3C/svg%3E"),
        url("data:image/svg+xml,%3Csvg width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='grain'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.04' numOctaves='5'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23grain)' opacity='0.15'/%3E%3C/svg%3E");
    background-blend-mode: multiply, overlay;
    background-size: 200px 200px, 100px 100px;
    opacity: 1;
}

.wrapper>main>section:nth-child(3)>.contents>.sentence-02 span[style*="position:relative"]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    background: 
        radial-gradient(circle at 20% 30%, rgba(0,0,0,0.01) 0%, transparent 50%),
        radial-gradient(circle at 80% 70%, rgba(0,0,0,0.01) 0%, transparent 50%);
    opacity: 0.6;
}

/* 국화꽃 아이콘에 종이 질감 효과 적용 - 흰색 배경 완전 제거 */
.wrapper>main>section:nth-child(3)>.contents>.sentence-02 img[src*="flower_chrysanthemum"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    filter: contrast(0.85) brightness(1.1) sepia(0.1);
    mix-blend-mode: multiply;
    opacity: 1;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    z-index: 1;
}


.wrapper>main>section:nth-child(3)>.contents>.btn-block{

}
.wrapper>main>section:nth-child(3)>.contents>.btn-block>button{
    width:200px;
    height:35px;
    margin : 0 auto;
    border-radius: 25px;
    border : 1px solid lightgray;
    background-color: white;
    color :gray;


    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.9rem;
}

.wrapper>main>section:nth-child(3)>.contents>.btn-block>button>span{
    font-size:0.9rem;
    margin-right:5px;
}


.wrapper>main>section:nth-child(3)>.contents>.btn-block>button a{
    text-decoration: none;
    color :gray;
}

