.wrapper>main>section:nth-child(10){

    /* height : 400px; */
    margin-top:40px;
}


.wrapper>main>section:nth-child(10)>.contents{
    margin-bottom:30px;
    
}
.wrapper>main>section:nth-child(10)>.contents::before{
    content:"";
    display:block;
    width:100%;
    height:40px;
    /* border : 1px solid gray; */
    position:absolute;
    left:0px;right:0px;
    top:-50px;
    
    
   
    background-image: url("../images/02_Section_01.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.wrapper>main>section:nth-child(10)>.contents>div{
  
    font-size:1.3rem;     
    color :rgb(137, 117, 122);
    font-size : 18.0513px;
    letter-spacing: 0.5px;
    height:32px;;
    margin-bottom : 30px;

    
}




.wrapper>main>section:nth-child(10)>.accordion{
    width : 320px;
    margin : 0 auto;
}

.wrapper>main>section:nth-child(10)>.accordion>.accordion-item{
   
    /* border : 1px solid; */
    margin-bottom:10px;
    
   
}

.wrapper>main>section:nth-child(10)>.accordion>.accordion-item>h2{
   
   
}
.wrapper>main>section:nth-child(10)>.accordion .accordion-button{
    display:flex;
    background-color: rgb(242, 238, 238);
}

.wrapper>main>section:nth-child(10)>.accordion .accordion-button>div{
    width : 100%;
    text-align: center;

    /*  style="height:50px;border:1px solid;margin-bottom:5px;" */
}
.wrapper>main>section:nth-child(10)>.accordion .accordion-button>div>span{
    font-size:1rem;
}
.wrapper>main>section:nth-child(10)>.accordion .accordion-button::after{
    flex-shrink: 0;
    width: 0.7rem;
    height: 0.7rem;
    content: "";
    background-size: 0.7rem;
   
}

.wrapper>main>section:nth-child(10)>.accordion .accordion-body{
   
}
.wrapper>main>section.account>.accordion .accordion-body>div,
.wrapper>main>section:nth-child(10)>.accordion .accordion-body>div{
    min-height:60px !important;
    padding : 20px 16px !important;
    border-bottom:0px solid lightgray !important;
    position: relative !important;
    
    display:flex !important;
    flex-direction: column !important;
    gap: 12px !important;
}

.wrapper>main>section:nth-child(10)>.accordion .accordion-body span,a,div{
    font-size:1rem;
}
/* section-10 계좌정보 스타일링 - 더 구체적인 선택자 사용 */
.wrapper>main>section.account>.accordion .accordion-body>div>.account,
.wrapper>main>section:nth-child(10)>.accordion .accordion-body>div>.account{
    display:flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-bottom:0 !important;
    width: 100% !important;
    position: relative !important;
    padding: 12px 0 !important;
    border-bottom: 1px solid rgb(240, 240, 240) !important;
}

.wrapper>main>section.account>.accordion .accordion-body>div>.account>.left,
.wrapper>main>section:nth-child(10)>.accordion .accordion-body>div>.account>.left{
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 6px !important;
    flex: 1 !important;
    min-width: 0 !important;
}

.wrapper>main>section.account>.accordion .accordion-body>div>.account>.left>span:first-child,
.wrapper>main>section:nth-child(10)>.accordion .accordion-body>div>.account>.left>span:first-child{
    font-size: 0.9rem !important;
    color: rgb(137, 117, 122) !important;
    font-weight: 400 !important;
    letter-spacing: 0.3px !important;
}

.wrapper>main>section.account>.accordion .accordion-body>div>.account>.left>.account-number,
.wrapper>main>section:nth-child(10)>.accordion .accordion-body>div>.account>.left>.account-number{
    font-size: 1.05rem !important;
    color: rgb(58, 58, 58) !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    font-family: 'Courier New', monospace !important;
}

.wrapper>main>section.account>.accordion .accordion-body>div>.account>.right,
.wrapper>main>section:nth-child(10)>.accordion .accordion-body>div>.account>.right{
    position: relative !important;
    flex-shrink: 0 !important;
    margin-left: 12px !important;
}

.wrapper>main>section.account>.accordion .accordion-body>div>.name,
.wrapper>main>section:nth-child(10)>.accordion .accordion-body>div>.name{
    display:flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    font-size: 1rem !important;
    color: rgb(58, 58, 58) !important;
    font-weight: 400 !important;
    margin-top: 4px !important;
    padding-top: 8px !important;
    padding-left: 2px !important;
}

.wrapper>main>section.account>.accordion .accordion-body>div>.account>.right>a,
.wrapper>main>section.account>.accordion a,
.wrapper>main>section:nth-child(10)>.accordion a{
    display:flex !important;
    width: auto !important;
    min-width: 56px !important;
    height: 32px !important;
    padding: 0 16px !important;
    text-decoration: none !important;
    justify-content: center !important;
    align-items: center !important;
    color: rgb(58, 58, 58) !important;
    background-color: rgb(250, 250, 250) !important;
    border: 1px solid rgb(220, 220, 220) !important;
    border-radius: 0 !important;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all 0.15s ease !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

.wrapper>main>section.account>.accordion .accordion-body>div>.account>.right>a:hover,
.wrapper>main>section.account>.accordion a:hover,
.wrapper>main>section:nth-child(10)>.accordion a:hover{
    background-color: rgb(245, 245, 245) !important;
    color: rgb(40, 40, 40) !important;
    border-color: rgb(180, 180, 180) !important;
}

.wrapper>main>section.account>.accordion .accordion-body>div>.account>.right>a:active,
.wrapper>main>section.account>.accordion a:active,
.wrapper>main>section:nth-child(10)>.accordion a:active{
    background-color: rgb(240, 240, 240) !important;
    border-color: rgb(160, 160, 160) !important;
}



.wrapper>main>section.account .title01{
    letter-spacing: 2px;  
    margin-bottom:10px;
    color : rgb(194, 178, 178);
    font-size : 11.4872px;
    letter-spacing: 3px;
    height:20px;
    text-align: center;
}
.wrapper>main>section.account .title02{
    color :rgb(137, 117, 122);
    font-size : 18.0513px;
    letter-spacing: 0.5px;
    height:32px;;
    margin-bottom : 40px;
}
